.list-item {
  display: flex;
  margin: 3rem;
  padding-bottom: 3rem;
  border-bottom: 0.16rem solid #fffff8;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  user-select: none;
  cursor: pointer;
  justify-content: start;
  align-items: center;
  }

#chatList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  }
.image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1rem;
  text-align: center;
  line-height: 5rem;
  margin: 0 2rem;
  }
.title > div {
  margin: .3rem;
  }

#footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ffcec680;
  height: 8rem;
  /* only left up, right up 20px border-radius*/
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  }
.add-list {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #ed909090;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
  margin: 0 2rem;
  color: white;
  cursor: pointer;
  }
